<section class="bg-light">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://picsum.photos/700/500" class="d-block mx-lg-auto img-fluid" alt="Image" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
        <p class="lead">
          Less than 4% of Africa's collections are available digitally. <strong>Hidden Collections Africa</strong> is a proposed new grant program to catalog and digitize materials at institutions in Africa that are inaccessible or at risk of being lost forever. The initiative draws inspiration from <a href="https://www.clir.org/hiddencollections/" target="_blank">CLIR's large-scale grant programs</a> and will directly support institutions and staff across the African continent to meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{ '/about' | url }}" class="btn btn-outline-secondary btn-lg px-4">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>