<h2>About CLIR</h2>

<p>
    The <a href="https://www.clir.org/" target="_blank">Council on Library and Information Resources</a> (CLIR) is an independent, nonprofit organization based in the United States that plays a significant role in the field of knowledge management and preservation. It started its life as the Council on Library Resources in 1956 with funding from the Ford Foundation to address the issues surrounding the explosive growth of libraries in the United States. Throughout the next several decades, CLR merged with several other organizations and programs, including the Commission on Preservation and Access in 1995 when the organization renamed itself the Council on Library and Information Resources. You can read more about CLIR's history <a target="_blank" href="https://www.clir.org/about-us/history/">on its website</a>.
</p>

<p>
    Today CLIR is engaged in many programs, including its successful <a target="_blank" href="https://www.clir.org/hiddencollections/">Digitizing Hidden Collections</a> and <a target="_blank" href="https://www.clir.org/recordings-at-risk/">Recordings at Risk</a> regranting programs; the <a  target="_blank" href="">Digital Library Federation</a>, <a target="_blank" href="https://www.diglib.org/">CLIR Institutes</a>, <a target="_blank" href="https://dlmenetwork.org/library">Digital Library of the Middle East</a>, and <a target="_blank" href="https://authenticity.diglib.org/">Authenticity Project</a> as well as its partnerships including the HBCU Library Alliance and DLF working groups.
</p>