<!-- https://getbootstrap.com/docs/5.2/examples/features/ -->
<div class="container px-4 py-5">
    <h2 class="display-2 pb-2 text-center my-5">Announcements</h2>

    <div class="row rol-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for post in collections.news | reverse %}
        <div class="col">
            <div class="{{ post.data.class }} card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a target="_blank" href="{{ post.data.link_to }}">{{ post.data.title }}</a></h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="{{ '/assets/images/clir-red-symbol.jpg' | url }}" alt="{{ post.data.title }}" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="bi-newspaper me-2"></i>
                            <small>News</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="bi-calendar3 me-2"></i>
                            <small>{{ post.data.date | readableDate }}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>