<!-- https://getbootstrap.com/docs/5.2/examples/features/ -->
<section id="consequences-of-inaction" class="texture-bg">
    <div class="container px-4 py-5">
        <h2 class="display-2 pb-2 text-center my-5">Consequences of Inaction</h2>

        <div class="row">
            Reduces the authenticity of history and intergenerational knowledge sharing. 
        </div>

        <div class="row rol-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5 text-center">
            <div class="col">
                <div class="highlight bg-red text-light mb-3 py-3 rounded">
                    <i class="bi bi-journal-arrow-up fs-1"></i>
                </div>
                <h3>Duplication in Research</h3>
                <p>lorem ipsum</p>
            </div>
            <div class="col">
                <div class="highlight bg-green text-light mb-3  py-3 rounded">
                    <i class="bi bi-journal-richtext fs-1"></i>
                </div>
                <h3>Inaccurate Research Conclusions</h3>
                <p>lorem ipsum</p>
            </div>
            <div class="col">
                <div class="highlight bg-yellow text-light mb-3 py-3 rounded">
                    <i class="bi bi-wallet-fill fs-1"></i>
                </div>
                <h3>Misguided Policies</h3>
                <p>lorem ipsum</p>
            </div>
            <div class="col">
                <div class="highlight bg-green text-light mb-3 py-3 rounded">
                    <i class="bi bi-slash-circle fs-1"></i>
                </div>
                
                <h3>Exclusion of some Communities in Research Agendas</h3>
                <p>lorem ipsum</p>
            </div>
        </div>
    </div>
</section>