<section id="core-values">
    <div class="container col-xxl-8 pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
        <h2 class="display-2 pb-2 border-bottom text-center my-5">Core Values</h2>

        <p class="text-center fs-5">Our core values guide our work in making knowledge more accessible, inclusive, and equitable for everyone.</p>

        <div class="row gy-4">

            <div class="col-xl-4 col-md-6 d-flex">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-universal-access icon"></i>
                    </div>
                    <h4>Open Access</h4>
                    <p>Embracing Open Access accelerates knowledge dissemination, transcends institutional and national boundaries, and enriches everyone's collective understanding of the past, present, and future.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-geo icon"></i>
                    </div>
                    <h4>
                        Broad Participation
                    </h4>
                    <p>We are committed to creating an inclusive space where voices that have historically been marginalized or underrepresented are not just heard but celebrated. We understand that true progress and innovation arise from the fusion of different viewpoints, and we strive to be a platform that facilitates these conversations.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-people-fill icon"></i>
                    </div>
                    <h4>
                        Authentic Partnerships
                    </h4>
                    <p>Our commitment to authentic partnerships goes beyond mere cooperation – it's about building relationships rooted in trust, respect, and shared goals. We understand that true innovation flourishes when diverse perspectives and expertise come together.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-pc-display icon"></i>
                    </div>
                    <h4>
                        Sustainable Infrastructure
                    </h4>
                    <p>Sustainable infrastructure is more than a goal; it's a responsibility to the environment, society, and the global community. We prioritize eco-friendly practices, resource efficiency, and ethical considerations in all our endeavors, recognizing that our choices today shape the world's tomorrow.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast icon"></i>
                    </div>
                    <h4>
                        Community-Centered Access
                    </h4>
                    <p>We believe that information should be a bridge, not a barrier. Our approach to community-centered access ensures that every individual, regardless of background or circumstance, has the opportunity to engage with resources that empower, educate, and elevate. We actively seek to break down silos, cultivate dialogue, and create platforms that reflect the diverse needs and aspirations of the communities we serve.</p>
                </div>
            </div>

        </div>

    </div>
</section>