<section id="core-values" class="bg-light">
    <div class="container col-xxl-8 pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
        <h2 class="display-2 pb-2 border-bottom text-center my-5">Core Values</h2>

        <p class="text-center fs-5">
            Hidden Collections Africa partners work together to make knowledge more accessible, inclusive, and equitable for everyone. The following ideas guide this work.
        </p>

        <div class="row gy-4">

            {% include 'partials/open-access.njk' %}

            <div class="col-xl-4 col-md-6 d-flex">
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-universal-access icon"></i>
                    </div>
                    <h4>Open Access</h4>
                    <p>
                        Embracing immediate, global online access to information accelerates knowledge dissemination and helps to mitigate against inequities in education and opportunity.
                    </p>
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#openAccessModal">
                        More
                    </button>
                    
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex">
                {% include 'partials/broad-participation.njk' %}

                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-geo icon"></i>
                    </div>
                    <h4>
                        Broad Participation
                    </h4>
                    <p>
                        True progress and innovation arise from the fusion of different viewpoints, and this fusion only becomes possible within a deliberately inclusive environment in which voices that have historically been marginalized or underrepresented are not just heard but celebrated.
                    </p>
                    
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#broadParticipationModal">
                        More
                    </button>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                {% include 'partials/authentic-partnerships.njk' %}
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-people-fill icon"></i>
                    </div>
                    <h4>
                        Authentic Partnerships
                    </h4>
                    <p>
                        An inclusive environment relies on sustaining relationships rooted in trust, respect, and shared goals. Healthy partnerships require that each partner's expectations, contributions, and benefits are articulated clearly, acknowledged openly, and revisited regularly.
                    </p>
                    
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#authenticPartnershipsModal">
                            More
                    </button>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                {% include 'partials/sustainable-infrastructures.njk' %}

                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-pc-display icon"></i>
                    </div>
                    <h4>
                        Sustainable Infrastructures
                    </h4>
                    <p>
                        Sustainable infrastructures require that any approach to the development of technologies or systems be rooted in a responsibility to the environment, society, and the global community. We prioritize strategies that can realistically be maintained over time and that minimize negative impacts on limited natural, economic, or socio-cultural resources.
                    </p>
                    
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#sustainableInfrastructuresModal">
                            More
                    </button>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                {% include 'partials/community-centered-access.njk' %}
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast icon"></i>
                    </div>
                    <h4>
                        Community-Centered Design
                    </h4>
                    <p>
                        Every individual, regardless of background or circumstance, should have the opportunity to engage with resources that empower, educate, and elevate them specifically. Different cultures, groups, and individuals will naturally have different needs and constraints with respect to gaining and permitting access. Access strategies and solutions must therefore reflect the diverse needs and aspirations of communities, centering digital inclusion and respect for the local contexts of cultural heritage.
                    </p>
                    
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#communityCenteredAccessModal">
                            More
                    </button>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex ">
                {% include 'partials/engagement.njk' %}
                <div class="values-item position-relative">
                    <div class="icon">
                        <i class="bi bi-globe icon"></i>
                    </div>
                    <h4>
                        Engagement
                    </h4>
                    <p>
                        Hidden Collections Africa empowers a global community contributing to preserve cultural heritage and address climate change. We make a special effort to attract younger generations as key to the project's durability.  
                    </p>
                    
                    <button type="button" class="mt-3 btn btn-outline-teal" data-bs-toggle="modal" data-bs-target="#engagementModal">
                            More
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>