<section id="urgency">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 id="what-is-hidden-collections-africa" class="display-4 pb-5 lh-1">Digitization as a Preservation Strategy</h1>
                <p class="lead">
                    Conflict leaves heritage assets vulnerable. In the African countries which have been plagued by war and political instability, massive extinction of history is increasing. Inventories and digital copies of collections are important safeguards to ensure that some versions of the materials held in African repositories will remain available for future generations.
                </p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                TODO: Find image of burned books
                <img class="rounded-lg-3" src="{{ '/assets/images/pexels-ann-h-11159167.jpg' | url }}" alt="" width="720">
            </div>
        </div>
    </div>
</section>