<div class="accordion mb-5" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is at stake?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Collecting organizations in Africa face a number of urgent preservation challenges due to climate change and ongoing legacies of colonial exploitation. Rising sea levels, extreme heat, and aberrant weather patterns are on track to displace millions of people over the next several decades. Climate disasters, including fires, floods, desertification, and drought, threaten to obliterate these collections, some of which have <a target="_blank" href="https://www.nature.com/articles/d41586-021-01045-4">already been lost</a>. What the fires do not burn, the floods drown.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Why are description and digitization so important?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          In addition to environmental threats, economic hardship, political instability, and conflict also leave heritage assets vulnerable. In African countries experiencing these challenges, massive damage to the historical record is accelerating. Inventories and digital copies of collections are important safeguards to ensure that some versions of the materials held in African repositories will remain available for future generations.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why focus on "hidden collections"?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Today's researchers rely heavily on online resources for information, yet collecting organizations face tremendous challenges in getting information about their holdings online. Materials without some form of online documentation are at risk of being poorly studied and potentially forgotten, more vulnerable to the many other environmental, physical, economic, and socio-political threats facing the survival of cultural heritage. These threats are complex, interrelated, and changeable in ways that are difficult to predict. Rather than addressing specific types of risks, Hidden Collections Africa will be designed to bring any currently “hidden” materials held by African collecting organizations to light through description, digitization, and online access. “Hidden” collections will include any historically or scientifically significant rare or unique materials currently inaccessible to people who need them for research, learning, and self-discovery.
        </div>
      </div>
    </div>
  </div>