
{% include 'signup.html' %}

<footer class="pb-5">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
           <p>
                <a href="https://www.clir.org" target="_blank">
                    <img src="/assets/images/clir-red-symbol.png" alt="CLIR logo" width="40">
                </a>
                </p>
            
            <ul class="social list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="https://twitter.com/clirnews"><i class="bi bi-twitter fs-4"></i><span class="visually-hidden-focusable">Twitter</span></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/company/6203386/"><i class="bi bi-instagram fs-4"></i><span class="visually-hidden-focusable">LinkedIn</span></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096"><i class="bi bi-facebook fs-4"></i><span class="visually-hidden-focusable">Facebook</span></a></li>
                <li class="ms-3"><a class="link-dark" href="http://www.youtube.com/user/DLFCLIR?blend=2&ob=0"><i class="bi bi-youtube fs-4"></i><span class="visually-hidden-focusable">Youtube</span></a></li>
            </ul>
        </div>
    </div>
</footer>