{% comment %}
{% include 'signup.html' %}
{% endcomment %}

<footer class="pb-5">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
            <p>&copy; {{ 'now' | date: "%Y" }} <a href="https://www.clir.org" target="_blank">CLIR</a>.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>