<!-- @see // @see https://github.com/startbootstrap/startbootstrap-agency -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto justify-content-center mt-3 py-4 py-lg-1">
                {%- for link in navigation %}
                    {%- assign class = "nav-link fw-bold py-1 px-2" -%}
                    {%- if link.url == page.url %}
                        {%- assign class = "nav-link fw-bold py-1 px-2 active" %}
                    {% endif %}
                    <a href="{{ link.url | url }}" class="{{ class }}">{{ link.title }}</a>
                {%- endfor %}
            </ul>
        </div>
    </div>
</nav>