<h2>
    Project History
</h2>

<p>
    The Hidden Collections Africa project is a groundbreaking initiative that has the potential to make a significant impact on the preservation and digitization of African collections. The idea originated with Buhle Mbambo-Thata, University Librarian of the National University of Lesotho and current chair of the CLIR Board, who approached CLIR with the concept of a potential partnership for this auspicious undertaking.
</p>

<p>
    Mbambo-Thata's extensive knowledge of local partners and expertise in the library and archive landscape across Africa have played a pivotal role in shaping the project. With her vision and understanding of the needs, she saw the potential for a transformative initiative that would address the challenges of stewarding collections across the continent. 
</p>

<p>
    Recognizing CLIR's experience in implementing large-scale digitization grant competitions and its community of expert practitioners, Mbambo-Thata worked with Chuck Henry to help bring this vision to life. To ensure the initiative's authenticity and effectiveness, the project was designed to be guided by an advisory committee consisting of experts from Africa. Furthermore, the commitment to African leadership was underscored by the intention to hire African program officers and associates if the program received funding.
</p>

<p> 
    While CLIR would provide administrative support and act as a fiscal host for the initiative, its involvement would extend beyond mere administration. CLIR's grants team and relevant staff members would offer assistance in an advisory capacity, leveraging their expertise to bolster the success of the Hidden Collections Africa project.
</p>