<style>
    #project-history p {
        font-size: 18px;
        line-height: 1.95rem;
    }
</style>

<section id="project-history" class="mt-n2 mt-md-0">

        <h2 class="mb-5 mt-5">Project History</h2>

        <p>
            Hidden Collections Africa has the potential to make a significant impact on the preservation and digitization of African collections. The idea originated with <a target="_blank" href="https://www.nul.ls/librarian/">Buhle Mbambo-Thata</a>, University Librarian of the <a target="_blank" href="https://www.nul.ls/">National University of Lesotho</a> and current chair of the CLIR Board, who approached CLIR with the concept of building upon CLIR’s expertise in cultural heritage grant making in order to bring more African cultural heritage online.
        </p>

        <p>
            Mbambo-Thata's extensive knowledge of local partners and expertise in the libraries and archives across Africa have played a pivotal role in shaping the project. With her vision and understanding of the needs of African cultural organizations, she saw the potential for a transformative initiative that would address the challenges of stewarding collections across the continent.
        </p>

        <p>
            Recognizing CLIR's experience in implementing large-scale digitization grant competitions and its community of expert practitioners, Mbambo-Thata worked with CLIR president Charles Henry to help bring this vision to life. To ensure the initiative's authenticity and effectiveness, the project was designed to be guided by an advisory committee consisting of experts from Africa. Furthermore, the commitment to African leadership was underscored by the intention to hire African program officers and associates if the program received funding.
        </p>

        <p> 
            While CLIR would provide administrative support and act as a fiscal host for the initiative, its involvement would extend beyond mere administration. CLIR's staff would offer assistance in an advisory capacity, leveraging their expertise to bolster the success of the project.
        </p>

</section>