<style>
    #interchange-of-ideas {
        background-image: url("assets/images/Africa-2-copy.webp");
        //background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<section id="interchange-of-ideas" class="bg-light">
    <div class="container px-4 py-5 text-center">
        <h2 class="display-2 pb-2 my-5">The Vigorous Interplay of Ideas</h2>
        <p class="pb-5">
            Hidden Collections Africa will benefit from decades of experience built within CLIR's established programs and partnerships
        </p>

        <div class="row row-cols-1 row-cols-md-2 mb-3">
            <div class="col align-self-start">
                <div class="card mb-4 rounded-3 shadow-sm" style="width:18rem;">
                    <div class="card-header text-bg-red1 py-3">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-lightbulb"></i><br/>
						Digitizing Hidden Collections: Amplifying Unheard Voices
					</h4>
                    </div>
                    <div class="card-body text-bg-teal-light">
                        <p>
                        Funds digitization and dissemination of rare and unique content documenting the experiences and creativity of people, communities, and populations underrepresented in digital collections.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-yellow" style="width:18rem;float:right;">
                    <div class="card-header py-3 text-bg-yellow border-yellow">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-file-earmark-check"></i><br/>
                            HBCU Library Alliance Partnership
                        </h4>
                    </div>
                    <div class="card-body text-bg-yellow-light">
                        <p>
                        Builds awareness of African American contributions to history and culture by improving access to the unparalleled collections held by Historically Black Colleges and Universities (HBCUs).
                    </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-red2" style="width:18rem;">
                    <div class="card-header py-3 text-bg-red2 border-red2">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
						    DLF Working Groups
					    </h4>
                    </div>
                    <div class="card-body text-bg-red2-light">
                        <p>Supports practitioners who collaborate year-round to solve problems in digital library subfields, from pedagogy and digital accessibility to project management and technology strategy.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-light-blue" style="width:18rem;float:right;">
                    <div class="card-header py-3 text-bg-light-blue border-light-blue">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
						    Digital Library of the Middle East
					    </h4>
                    </div>
                    <div class="card-body text-bg-light-blue-light">
                        <p>Federates and makes accessible data about collections documenting the cultural legacy of the Middle East and North Africa, built on a platform developed by an engineering team from CLIR and Stanford Libraries.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-dark-green" style="width:18rem;">
                    <div class="card-header py-3 text-bg-dark-green border-dark-green">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
						    Recordings at Risk
					    </h4>
                    </div>
                    <div class="card-body text-bg-dark-green-light">
                        <p>Funds digitization of time-based media while also helping institutions set priorities, develop strategies, and implement best practices for preservation reformatting.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-light-green" style="width:18rem;float:right;">
                    <div class="card-header py-3 text-bg-light-green border-light-green">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
                            Leading Change Institute
                        </h4>
                    </div>
                    <div class="card-body text-bg-light-green-light">
                        <p>Empowers emerging leaders in higher education to work collaboratively to address critical issues. A new curriculum will focus on essential aspects of leadership that transcend local and national interests within an atmosphere of cultural inclusion and mutual respect.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-yellow2" style="width:18rem;">
                    <div class="card-header py-3 text-bg-yellow2 border-yellow2">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
                            Authenticity Project
                        </h4>
                    </div>
                    <div class="card-body text-bg-yellow2-light">
                        <p>
                            Offers mentorship, learning opportunities, and leadership development to library staff based at Historically Black Colleges and Universities (HBCUs)
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-red3" style="width:18rem;float:right;">
                    <div class="card-header py-3 text-bg-red3 border-red3">
                        <h4 class="my-0 fw-normal text-center">
                            <i class="bi bi-folder-symlink"></i><br/>
                            CLIR Postdoctoral Fellowships
                        </h4>
                    </div>
                    <div class="card-body text-bg-red3-light">
                        <p>
                            Brings new scholars into libraries and other memory organizations to nurture community partnerships, strengthen services, promote the effective use of collections and technologies, and ethically curate and preserve the products of current research.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>