<section id="mission">
    <div class="container px-4 py-5">
        <h2 class="display-2 pb-2 text-center my-5">Mission</h2>

        <p>
            The mission of Hidden Collections Africa is rooted in the recognition that access to information is a fundamental human right, as enshrined in the UN Universal Declaration of Human Rights. We are dedicated to empowering communities through the preservation and dissemination of knowledge, advancing social justice, and enabling informed decision-making that shapes the trajectory of humanity's development.
        </p>

        <p>
            In the 21st century, the digital age has opened new avenues for information accessibility, but there exists a profound disparity. Africa, with its rich tapestry of cultures, histories, and perspectives, faces a stark challenge. Less than four percent of the continent's invaluable collections are available in digital formats, limiting the potential for shared learning and progress.
        </p>

        <p>
            The consequences of this digital divide are profound. Incomplete access to authentic African voices has led to the replication of research, erroneous conclusions, and misguided policies. Whole communities remain excluded from research agendas, depriving them of representation and agency. The threads of Africa's history risk unraveling, and the torch of intergenerational knowledge-sharing flickers in the face of this digital inequity.
        </p>

        <p>
            Amidst this challenge, the threat of climate change and the lingering impact of colonial exploitation add urgency. Rising sea levels, extreme weather events, and ecological upheavals threaten the archives that hold the narratives of the continent. Yet, there is hope. By digitizing these collections and preserving their essence, we stand as stewards of history, guardians against the erasure of heritage, and advocates for the voices that demand to be heard.
        </p>
        <p>
            Africa's stories, encompassing political movements, environmental insights, gender dynamics, indigenous wisdom, and countless other themes, deserve to be not only saved but also celebrated. We recognize that bridging the digital gap requires more than technology; it demands collaborative efforts that span continents and cultures. By providing access to these collections, we empower civil societies, religious groups, and communities to shape their own narratives, informed by their own stories.
        </p>
        <p>
            Our commitment goes beyond safeguarding archives; it extends to fostering unity, understanding, and shared progress. Through your support, we embark on a journey to redefine access, to ensure that Africa's treasures are not confined by geography or circumstance. We invite you to be a part of this transformative endeavor, where the digital realm becomes a bridge connecting the past, present, and a just, informed future for all.
        </p>

    </section>