{% assign latest_posts = collections.posts | reverse | head : 3 %}
<div class="container px-4 py-5">
    <h2 class="display-2 pb-2 text-center my-5">Posts</h2>

    <div class="row rol-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {%- for post in latest_posts -%}
            {% assign class = post.data.title | parameterize %}
            <style>
                .{{class }} { background-image: url("{{ post.data.background }}"); background-size: cover; }
            </style>
            <div class="col">
                <a class="text-decoration-none" href="{{post.url}}" >
                <div class="card {{class}} card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{post.data.title}}</h3>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>