<section class="bg-light" id="partners">
  <div class="container pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0 text-center">
    <h2 class="display-2 pb-2 border-bottom text-center my-5">Partners</h2>

    <p class="lead">
      In a landmark achievement in cultural preservation and global solidarity, CLIR has signed MOUs with consortia representing nearly <strong>800</strong> cultural memory organizations worldwide, including nearly <strong>450</strong> across the African continent.
    </p>
    <div class="row justify-content-center row-cols-2 row-cols-md-3 gx-0 gx-sm-3 gx-md-2 gx-lg-3 gx-xl-4">
      {% for partner in partners %}
        <div class="col">
          <div class="py-sm-2 my-xl-1">
            <div class="py-sm-2 mx-autor">
              <figure>
                <a href="{{ partner.url }}" target="_blank">
                  <img src="{{ partner.image | url }}" alt="{{ partner.name }}">
                </a>
              </figure>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
<!--
    <div class="container pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
      <a href="{{ '/map/' | url }}" class="btn btn-lg btn-view">View the Connections<a/>
    </div>    -->
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>

<style>
#partner-map {
  height: 50rem;
  font-size: 1rem;
}

  #mymap{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
</style>

<section id="partner-map">
  <div id="mymap"></div>
</section>

<script>

   L_NO_TOUCH = false;
  L_DISABLE_3D = false;

  const markers = [];
  var map = L.map('mymap', {}).setView([40.945, -23.1757], 3);

  L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner/{z}/{x}/{y}{r}.png', {
    //scrollWheelZoom: false,
    //zoomControl: false,
    maxZoom: 19,
    attribution: '"Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e."',
  }).addTo(map);


</script>

<script src="/assets/js/markers-aau.js"></script>
<script src="/assets/js/markers-cenl.js"></script>
<script src="/assets/js/markers-clir.js"></script>
<script src="/assets/js/markers-rfn.js"></script>



