<section class="bg-light" id="partners">
  <div class="container pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
    <h2 class="display-2 pb-2 border-bottom text-center my-5">Partners</h2>
    <div class="row justify-content-center row-cols-3 row-cols-md-5 gx-0 gx-sm-3 gx-md-2 gx-lg-3 gx-xl-4">
      {% for partner in partners %}
        <div class="col">
          <div class="py-sm-2 my-xl-1">
            <div class="py-sm-2 mx-autor">
              <figure>
                <a href="{{ partner.url }}" target="_blank">
                  <img src="{{ partner.image | url }}" alt="{{ partner.name }}">
                </a>
              </figure>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
