<!-- https://getbootstrap.com/docs/5.3/content/typography/#blockquotes -->
<section id="quotes">
    <div class="container px-4 py-5 col-xxl-8">
        <div class="row p-4 pb-0 text-bg-light pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <figure class="px-5 py-5">
                <blockquote class="blockquote">
                    <p class="fs-2">Africa needs digital environments, infrastructures, and digital skills to engage with creation of digital content from Africa. Hidden Collections Africa is an important opportunity to work toward digital equity, so that the voices in digital spaces represent all of humanity.</p>
                </blockquote>
                <figcaption class="blockquote-footer fs-4 mt-5">
                    Buhle Mbambo Thata, Librarian of the National University of Lesotho
                </figcaption>
            </figure>
        </div>
    </div>
</section>

