<section id="signup" class="">
        <div class="container col-md-6 px-4 py-5 text-center">

            <h1 class="text-white mb-4">Subscribe to our newsletter</h1>

            <!-- TODO: create a collector workflow for this -->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
            hbspt.forms.create({
                region: "na1",
                portalId: "20251227",
                formId: "5ff70b8c-fb3c-4b84-b045-aa7aac80a0ab"
            });
            </script>
        </div>

</section>