<style>
    #technology p {
        font-size: 18px;
        line-height: 1.95rem;
    }
</style>

<section id="technology" class="mt-n2 mt-md-0">
    <h2 class="mb-5 mt-5">Technology and Infrastructure</h2>

    <p>
        At the core of the Hidden Collections Africa's approach is working with local and regional partners to develop digital content at local institutions and the human and technical infrasture needed to build community infrastructure to ensure the long-term preservation and use of digital assets. To this end, Hidden Collections Africa will work with individual partners to support the development of solutions that fit the needs of their collections. This support would advise throughout the digital asset lifecycle, from capture, description, preservation, and access. This support would expand to larger country and regional organizations to support the development of repository networks that can be sustainably managed, ensuring the long-term preservation and access to this content.
    </p>
    <p>
        At the institutional level, we anticipate organizations needing different levels of support to start and sustain digitization projects. Hidden Collections Africa will develop training around the tools to do this work including equipment procurement, digitization techniques, storage and quality assurance workflows, metadata description, and licensing and access policies. At the regional level, we will work with partners (e.g. <a target="_blank" href="https://ubuntunet.net/">UbuntuNet</a>) to develop repository networks based on <a target="_blank" href="https://www.lockss.org/">LOCKKS</a> that can operate at different scales (e.g. nationally, regionally, and eventually, continent-wide). 
    </p>
    <p>
        Local institutions will be able to make decisions on how best to make their collections available using Open Access models. Hidden Collections Africa will also put in place an additional discovery and interpretive layer that will aggregate not only collections digitized as part of this endeavor but also from collecting institutions around the world. Leveraging the approach pioneered by CLIR's work with Standford University to develop the Digital Library of the Middle East, Hidden Collections Africa will be able to provide discovery and interpretive services.
    </p>

</section>