<style>
    #technology p {
        font-size: 18px;
        line-height: 1.95rem;
    }
</style>

<section id="technology" class="mt-n2 mt-md-0">
    <h2 class="mb-5 mt-5">Technology</h2>

    <p>
        CLIR has worked closely with Stanford University Libraries to develop an extensible technology stack to quickly build a discovery and interpretative interface for distributed collections. With a proven implementation through the <a target="_blank" href="https://dlmenetwork.org/library">Digital Library of the Middle East</a>, this open source solution builds upon several best-in-class open source projects, making it scalable and adaptable to different needs. The stack includes a content management system, a <a target="_blank" href="https://airflow.apache.org/">metadata repository pipeline</a>, a <a target="_blank" href="https://projectblacklight.org/">multi-lingual discovery tool</a>, and interpretive tools that can be easily configured to handle multiple languages.
    </p>

    <p>
        Not only would newly digitized collections be discoverable through this system, but already digitized collections could be easily incorporated as well. The approach to online discovery drives users to where the information is being maintained while still standardizing metadata to enable search across collections. The discovery experience is also compatible with interpretive resources such as annotations, linked data, or media that provide context for collections. The technology stack developed for the Digital Library of the Middle East is a powerful system that can be used to make collections digitized through Hidden Collections Africa more accessible and understandable.
    </p>

</section>
