<style>
    #technology p {
        font-size: 18px;
        line-height: 1.95rem;
    }
</style>

<section id="technology" class="mt-n2 mt-md-0">
    <h2 class="mb-5 mt-5">Technology and Infrastructure</h2>

    <p>
        <strong>Hidden Collections Africa</strong> will work with local and regional partners to develop digital content that can be locally and regionally preserved while being shared globally. To this end, Hidden Collections Africa will work with individual grant recipients to support the development of technical and staffing solutions that fit the needs of their organizations and collections. This support would encompass the entire digital asset lifecycle, including capture, description, preservation, and access. Whenever possible, grantees would be connected with larger country and regional organizations so that they might take advantage of developing repository networks that can be collaboratively and sustainably managed.
    </p>
    <p>
        Applicant organizations will need different levels of support to start and sustain digitization programs. Hidden Collections Africa will develop training resources covering the tools to do all of this work including collections assessment, equipment procurement, capture, metadata creation, quality assurance, storage, and systems management for long-term preservation and access. At the regional level, Hidden Collections Africa will work with partners to develop repository networks based on <a target="_blank" href="https://www.lockss.org/">LOCKSS principles</a> that can be expanded over time. 
    </p>
    <p>
        Local institutions will be able to make decisions on how best to make their collections available following Open Access models. Eventually, Hidden Collections Africa will also develop an additional discovery and interpretive resource that will aggregate not only collections digitized as part of this endeavor but also from collecting institutions around the world. This resource will be modeled after CLIR's work with Stanford University Libraries to develop the <a target="_blank" href="https://dlmenetwork.org/library">Digital Library of the Middle East</a>.
    </p>
</section>