<!-- 
    https://www.codeply.com/p/GSinLfFXIJ
-->

<hr class="my-5">

<div class="container py-4">

<!-- timeline item 1 -->
<div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-success border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
        <div class="card border-success shadow">
            <div class="card-body">
                <div class="float-end text-success small">Phase 1</div>
                <h4 class="card-title text-success">Planning and Stakeholder Recruitment</h4>
                <p class="card-text">Blurb about work being done</p>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 2 -->
<div class="row no-gutters">
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">Phase 2</div>
                <h4 class="card-title">Pilot open application period</h4>
                <p class="card-text">Something about phase2 effort.</p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
</div>
<!--/row-->
<!-- timeline item 3 -->
<div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">Phase 3</div>
                <h4 class="card-title">Pilot grantee implementation</h4>
                <p>
                    Note about future phase 3
                </p>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 4 -->
<div class="row no-gutters">
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">Phase 4</div>
                <h4 class="card-title">Evaluation</h4>
                <p>Note on evaluation</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
</div>
<!--/row-->

TODO: modal for these details

PHASE ONE
* Program development
    * Interviews with stakeholders
    * Preparation of guidelines, application and applicant and reviewer orientation materials
* Infrastructure development
    * Set up application, review, training, and reporting systems
    * Technical plans for shared storage, discovery, and preservation systems to be offered to applicants

PHASE 2

Program development
Applicant support
Deliver project planning curriculum to applicants
Train reviewers
Facilitate review of applications
Award approximately 30 12-month grants


Infrastructure development
Manage application, review, and training delivery systems
Implement technical plans for storage, discovery, and preservation systems to be offered to applicants
Offer technical training to applicants


Phase 3

Program development
Grantee support and monitoring
Revise application, guidelines and conduct initial planning for succeeding calls


Infrastructure development
Testing of storage, discovery, and preservation systems
Ingest grantee content into storage, discovery, and preservation systems


Ongoing grantee training

Phase 4

Program development
Analyse grantee reports
Interviews with grantees
Fundraising for succeeding calls


Infrastructure development
Ongoing maintenance of storage, discovery, and preservation systems
Planning for larger scale implementation of systems


POST-PILOT ACTIVITIES

Full implementation of call for proposals with expanded eligibility and tiered levels of support
Implementation of program in other languages (French, Portuguese, Arabic)
Online and in-person public programming to encourage use
Librarian/archivist exchanges
Fellowships
Calls for repatriation of cultural heritage

