<!-- https://getbootstrap.com/docs/5.2/examples/features/ -->
<section id="consequences-of-inaction" class="">
    <div class="container px-4 py-5">
        <h2 class="display-2 pb-2 text-center my-5">Values</h2>

        <div class="row">
            Rather than focusing exclusively on endangered or at-risk materials, the purpose is to bring "hidden" materials to light through description, digitisation, and online access. “Hidden” materials are those inaccessible to people who need them for research, learning, and self-discovery.
        </div>

        <div class="row rol-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 text-center">
            <div class="col">
                <div class="highlight bg-red text-light mb-3 py-3 rounded">
                    <i class="bi bi-journal-arrow-up fs-1"></i>
                </div>
                <h3>Public Knowledge</h3>
                <p>The program fuels the creation and dissemination of digitized special collections and archives as a public good.</p>
            </div>
            <div class="col">
                <div class="highlight bg-green text-light mb-3  py-3 rounded">
                    <i class="bi bi-journal-richtext fs-1"></i>
                </div>
                <h3>Broad Representation</h3>
                <p>The program supports digitization projects that will thoughtfully capture and share the untapped stories of people, communities, and populations who are underrepresented in digital collections in ways that contribute to a more complete understanding of human history.</p>
            </div>
            <div class="col">
                <div class="highlight bg-yellow text-light mb-3 py-3 rounded">
                    <i class="bi bi-wallet-fill fs-1"></i>
                </div>
                <h3>Authentic Partnerships</h3>
                <p>The program prioritizes projects that foreground meaningful engagement with the underserved communities whose stories the source materials tell, and that build inclusive teams across institutional and geographic boundaries.</p>
            </div>
            <div class="col">
                <div class="highlight bg-green text-light mb-3 py-3 rounded">
                    <i class="bi bi-slash-circle fs-1"></i>
                </div>
                
                <h3>Sustainable Infrastructures</h3>
                <p>The program promotes forward-thinking strategies ensuring the long-term availability, discoverability, and interconnectedness of digitized content.</p>
            </div>
            <div class="col">
                <div class="highlight bg-red text-light mb-3 py-3 rounded">
                    <i class="bi bi-wallet-fill fs-1"></i>
                </div>
                <h3>Community-Centered Access</h3>
                <p>The program advocates for approaches to access, description, and outreach that make digitized content as widely available and useful as possible within legal and ethical constraints, centereing digital inclusion and respect for the materials' local contexts.</p>
            </div>
        </div>
    </div>
</section>