<section class="section bg-light py-4" id="video">
    <div class="container col-xxl-8 pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
        <h2 class="display-2 pb-2 border-bottom text-center my-5">Consequences of Inaction</h2>

        <p class="fs-5 pb-3">
            The consequences of inaction on climate change have already been felt in libraries and archives across the continent to devistating effect.
        </p>

        <div class="ratio ratio-16x9 ">
            <!-- https://getbootstrap.com/docs/5.3/utilities/object-fit/#video -->
            <iframe src="https://www.youtube.com/embed/DD6ZnbmKUHQ?rel=0" title="Hidden Collections Africa" allowfullscreen></iframe>
        </div>
    </section>