<style>
    :root {
        --color-secondary-rgb: 72, 86, 100;
        --color-white-rgb: 255, 255, 255;
    }

    .idea {
        background: linear-gradient(rgba(var(--color-secondary-rgb), 0.5), rgba(var(--color-secondary-rgb), 0.8)), url({{'/assets/images/onfocus-content-bg.jpg' | url }}) center center;
        background-size: cover;
        color: rgba(var(--color-white-rgb), 0.8);
    }
</style>

<section class="section bg-light" id="about">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                {% image 'src/assets/images/Africa.png', 'clasped hands', 'd-block mx-lg-auto img-fluid', '(min-width: 30em) 50vw, 100vw' %}
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">The Idea</h1>
                <p class="lead">
                    <strong>Hidden Collections Africa</strong> is a new initiative that spearheads digital preservation with a powerful focus on addressing climate change impacts. The initiative will digitize rare and unique collections in Africa, making them more accessible to researchers and students throughout Africa around the world, advancing African history and scholarship and advancing digital knowledge spaces in Africa. </p>
                <p class="lead">
                    This intiative is essential to help preserve knowledge and heritage that is endangered due to the effects of climate change. Extreme weather events, such as floods and droughts, are damaging and destroying libraries, archives, and museums. Hidden Collections Africa would support the description and digitization of materials held by African cultural memory organization  that are currently inaccessible or at risk of being lost forever.
                </p>

                <p class="lead">
                    Led by African-based professionals, the program draws inspiration from CLIR's <a target="_blank" href="https://www.clir.org/hiddencollections">large-scale grant programs</a> and directly supports institutions and staff across the continent to meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
                </p>
            </div>
        </div>
    </div>
</section>

<!--
<section id="the-idea">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-6">
                
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/DD6ZnbmKUHQ?rel=0" title="Hidden Collections Africa" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 p-5 idea">
                <div class="content d-flex flex-column justify-content-center h-100">
                    <h2>The Idea</h2>
                    <p class="lead">
                        <strong>Hidden Collections Africa</strong> is a new initiative that spearheads digital preservation with a powerful focus on addressing climate change impacts. The initiative will digitize rare and unique collections in Africa, making them more accessible to researchers and students throughout Africa around the world, advancing African history and scholarship and advancing digital knowledge spaces in Africa. 
                    </p>
                    <p class="lead">
                    This intiative is essential to help preserve knowledge and heritage that is endangered due to the effects of climate change. Extreme weather events, such as floods and droughts, are damaging and destroying libraries, archives, and museums. Hidden Collections Africa would support the description and digitization of materials held by African cultural memory organization  that are currently inaccessible or at risk of being lost forever.
                    </p>

                    <p class="lead">
                    Led by African-based professionals, the program draws inspiration from CLIR's <a target="_blank" href="https://www.clir.org/hiddencollections">large-scale grant programs</a> and directly supports institutions and staff across the continent to meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>

<section id="what-is-hca" class="bg-light">
    <div class="container mb-5 py-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 id="what-is-hidden-collections-africa" class="display-4 pb-5 fw-bold lh-1">The Idea</h1>

                <p class="lead">
                    <strong>Hidden Collections Africa</strong> is a new initiative that spearheads digital preservation with a powerful focus on addressing climate change impacts. The initiative will digitize rare and unique collections in Africa, making them more accessible to researchers and students throughout Africa around the world, advancing African history and scholarship and advancing digital knowledge spaces in Africa. 
                </p>
                <p class="fs-4">
                    This intiative is essential to help preserve knowledge and heritage that is endangered due to the effects of climate change. Extreme weather events, such as floods and droughts, are damaging and destroying libraries, archives, and museums. Hidden Collections Africa would support the description and digitization of materials held by African cultural memory organization  that are currently inaccessible or at risk of being lost forever.
                </p>

                <p>
                    Led by African-based professionals, the program draws inspiration from CLIR's <a target="_blank" href="https://www.clir.org/hiddencollections">large-scale grant programs</a> and directly supports institutions and staff across the continent to meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
                </p>
            </div>

        </div>
    </div>
</section>
-->