---
layout: home
---

<div id="intro" class="parallax bg-image shadow-2-strong">
    <div class="caption container p-5 mb-4 rounded-3">
        <h1 class="display-5 fw-bold serif">Hidden Collections Africa</h1>
        <p class=fs-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius sunt dolor, quibusdam molestiae tenetur nisi at quae aperiam culpa. Suscipit similique, veniam perferendis eos eligendi repellendus quasi vero eius dignissimos?</p>
    </div>
</div>

{% include about.html %}
{% include quotes.html %}
{% include announcements.html %}
{% include partners.html %}
<!-- {% include theory_of_change.html %} -->