---
layout: home
---

<div id="intro" class="parallax">
    <div class="container">
        <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
            <div class="col-md-10 pt-5 my-5 mx-auto">
                <h1 class="display-2 text-light text-uppercase pb-sm-2 pb-md-3">Hidden Collections Africa</h1>
                <p class="text-light lead opacity-70 pb-3 pb-md-4 mb-3" style="max-width: 520px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius sunt dolor, quibusdam molestiae tenetur nisi at quae aperiam culpa. Suscipit similique, veniam perferendis eos eligendi repellendus quasi vero eius dignissimos?</p>
            </div>
        </div>
    </div>
</div>

{% include about.html %}
{% include quotes.html %}
{% include mission.html %}
{% include announcements.html %}
{% include partners.html %}

<!-- {% include theory_of_change.html %} -->