<!-- <div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold"></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Less than 4% of Africa's collections are available digitally. The Hidden Collections Africa initiative is a proposed 
      new grant program to catalog and digitize materials at institutions in Africa that are inaccessible or at 
      risk of being lost forever. The initiative would draws inspiration from <a href="" target="_blank">CLIR's large-scale grant programs</a>
      and directly supports institutions and staff across the African continent to 
      meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/about" class="btn btn-outline-secondary btn-lg px-4">Read More</a>
    </div>
  </div>
</div> -->
<section class="bg-light">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://picsum.photos/700/500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
        <p class="lead">
          Less than 4% of Africa's collections are available digitally. The <strong>Hidden Collections Africa</strong> initiative is a proposed 
        new grant program to catalog and digitize materials at institutions in Africa that are inaccessible or at 
        risk of being lost forever. The initiative draws inspiration from <a href="https://www.clir.org/hiddencollections/" target="_blank">CLIR's large-scale grant programs</a>
        and directly supports institutions and staff across the African continent to 
        meet urgent preservation needs, close gaps in the historical record, and make records more accessible to users.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/about" class="btn btn-outline-secondary btn-lg px-4">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">About</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Building Capacity</h3>
        <p class="text-muted">
          Led by Africa-based professionals, Hidden Collections Africa will directly support institutions and staff 
          across Africa to meet urgent preservation needs, close gaps in the historical record, and make records more 
          accessible to users.
        </p>
        <a href="#" class="btn btn-primary btn-lg">Learn More</a>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="d-flex flex-column gap-2">
          <div class="square feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi-collection"></i>
          </div>
          <h4 class="fw-semibold mb-0">Infrastructures</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="square feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi-gear-fill" ></i>
          </div>
          <h4 class="fw-semibold mb-0">Skills</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="square feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi-speedometer"></i>
            
          </div>
          <h4 class="fw-semibold mb-0">Accessability</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="square feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi-table"></i>

          </div>
          <h4 class="fw-semibold mb-0">Digital Content</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div> -->