<div class="container pb-3">
    <!-- <header class="pb-3 mb-4 border-bottom">
        <a href="{{ '/' | relative_url }}" class="d-flex align-items-center text-dark text-decoration-none">
            {{ site.logo }}
            <span class="fs-1">Hidden Collections Africa</span>
        </a>
    </header> -->

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{{ '/' | relative_url }}" class="d-flex align-items-center col-md-8 mb-2 mb-md-0 text-dark text-decoration-none">
            {{ site.logo }}
            <span class="fs-1">Hidden Collections Africa</span> 
        </a>

        <ul class="nav col-4 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ '/about/' | relative_url }}" class="nav-link px-2 link-dark">About</a></li>
        </ul>

    </header>
</div>