<section class="bg-light" id="partners">
  <div class="container px-4 py-5 py-xl-6">
    <h2 class="pb-2 border-bottom">Partners</h2>

    <p>blurb about Partners</p>

    <div class="row gy-5 my-md-6">
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="https://aau.org/" target="_blank">
            <img src="{{ '/images/aau.png' | relative_url }}" class="img-thumbnail d-block" alt="Association of African Universities">
          </a>
        </figure>
      </div>
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="http://www.rfnum.org/" target="_blank">
            <img src="{{ '/images/logo_RFN.png' | relative_url }}" class="img-thumbnail d-block" alt="Réseau francophone numérique (RFN)-AISBL">
          </a>
        </figure>
      </div>
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="https://hbculibraries.org/" target="_blank">
            <img src="{{ '/images/hbcu-logo.png' | relative_url }}" class="img-thumbnail" alt="HBCU Library Alliance">
          </a>
        </figure>
      </div>
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="https://ubuntunet.net/" target="_blank">
            <img src="{{ '/images/cropped-UbuntuNet-Alliance-1.png' | relative_url }}" class="img-thumbnail" alt="UbuntuNet Alliance">
          </a>
        </figure>
      </div>
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="https://www.clir.org/" target="_blank">
            <img src="{{ '/images/clir-red-symbol.png' | relative_url }}" class="img-thumbnail" alt="Council on Library and Information Resources">
          </a>
        </figure>
      </div>
      <div class="col-6 col-md-3 align-self-center">
        <figure>
          <a href="https://www.cenl.org/" target="_blank">
            <img src="{{ '/images/cenl.png' | relative_url }}" class="img-thumbnail" alt="The Conference of European National Librarians">
          </a>
        </figure>
      </div>
    </div>

  </div>
</section>

<!-- 
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Partners</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="https://aau.org/" target="blank">Association of African Universities</a></h3>
          <p>The Association of African Universities (AAU) is an international non-profit, non-governmental organization created by African Universities to promote cooperation among them on the one hand, and between them and the international academic community on the other.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="http://www.rfnum.org/" target="blank">Réseau francophone numérique (RFN)-AISBL</a></a></h3>
          <p>The Réseau francophone numérique (RFN) is an international nonprofit association constituted under the Belgian law on AISBL. The RFN currently comprises 30 members (national libraries, national archives, university libraries, institutes) in 20 countries, a significant part of which are in Africa. The RFN’s mission is to help member countries conserve and reconstitute their documentary heritage, to promote the emergence of digitization programs, and to enhance the diversity of documentary sources in French-speaking countries, particularly through its digital library.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="https://ubuntunet.net/" target="blank">UbuntuNet Alliance</a></h3>
          <p>UbuntuNet Alliance is the Regional Research and Education Network for Eastern and Southern Africa. The organization facilitates and proactively supports research collaboration for the digital transformation of the higher research and education sectors throughout Eastern and Southern Africa through its network. This is achieved by providing high-capacity Internet and value-added services to research and education organizations through National Research and Education Networks (NRENs). Participation includes but is not limited to universities, colleges, hospitals, and libraries.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="https://hbculibraries.org/" target="blank">HBCU Library Alliance</a></h3>
          <p>The HBCU Library Alliance is a consortium that supports the collaboration of information professionals dedicated to providing an array of resources designed to strengthen Historically Black Colleges and Universities and their constituents.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="https://www.cenl.org/" target="blank">The Conference of European National Librarians</a></h3>
          <p>CENL, the Conference of European National Librarians, brings these great institutions together to celebrate and promote the importance of national libraries across the continent, creating opportunities to meet and work together to exchange knowledge, foster professional excellence and build mutual understanding.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fw-bold mb-0 fs-4"><a href="https://www.clir.org/" target="blank">Council on Library and Information Resources</a></h3>
          <p>The Council on Library and Information Resources (CLIR) is an independent, nonprofit organization that forges strategies to enhance research, teaching, and learning environments in collaboration with libraries, cultural institutions, and communities of higher learning. CLIR aspires to transform the information landscape to support the advancement of knowledge. It promotes forward-looking collaborative solutions that transcend disciplinary, institutional, professional, and geographic boundaries in support of the public good.</p>
        </div>
      </div>
    </div>
</div> -->
