TODO: Informal consultants, names and expertise
TODO: An Advisory Council, names and positions

<div class="container">
    <div class="row justify-content-start">
        <div class="col-12  order-2 order-md-1">
            <h1 id="meet-the-team">Advisory Council</h1>
            <p class="lead">
                Our international team of advisors and consultants has over <strong>xx</strong> years experience in preserving cultural heritage.
            </p>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% for advisor in site.data.advisors %}
        <div class="col-xl-3 col-md-6 mb-4">
            
            <div class="card border-0 shadow h-100">
                <img src="{{ advisor.image | relative_url }}" class="card-img-top" alt="{{advisor.name}}">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">{{ advisor.name }}</h5>
                    <div class="card-text text-black-50">{{ advisor.organization}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

