TODO: Technology plan: methods of scanning, capture, metadata schema, platform(s), software stack and applications, security measures, accessibility, storage, mirror sites, and other features of a technical design
TODO: Infrastructure in general: how defined; how built; partners involved
<section id="technology_plan">
    <div class="container px-4 py-5">
        <h2 class="display-2 pb-2 text-center my-5">Technology Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

        <ul>
            <li>Methods of scanning and capture</li>
            <li>Metadata Schema</li>
            <li>Platforms</li>
            <li>Software Stack</li>
            <li>Applications</li>
            <li>Security Measures</li>
            <li>Accessibility</li>
            <li>Storage</li>
            <li>Mirror Sites</li>
            <li>Other features of technical design</li>
        </ul>
    

</section>

<section id="technology_plan">
    <div class="container px-4 py-5">
        <h2 class="display-2 pb-2 text-center my-5">Infrastructure Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <ul>
            <li>how defined</li>
            <li>how built</li>
            <li>partners involved</li>
        </ul>
    
 
</section>