<!-- 
    https://www.codeply.com/p/GSinLfFXIJ
-->


<hr class="my-5">

<div class="container py-4">

<!-- timeline item 1 -->
<div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">2022</div>
                <h4 class="card-title text-muted">Project Planning</h4>
                <p class="card-text">Blurb about work being done</p>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 2 -->
<div class="row no-gutters">
    <div class="col-sm py-2">
        <div class="card border-success shadow">
            <div class="card-body">
                <div class="float-end text-success text-success small">Spring 2023</div>
                <h4 class="card-title text-success">Current thing</h4>
                <p class="card-text">Something about current effort.</p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-success">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
</div>
<!--/row-->
<!-- timeline item 3 -->
<div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">Summer 2023</div>
                <h4 class="card-title">Future step 1</h4>
                <p>
                    Note about future step 1
                </p>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 4 -->
<div class="row no-gutters">
    <div class="col-sm py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-muted small">Fall 2023</div>
                <h4 class="card-title">Future Step 2</h4>
                <p>Note on future step 2</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
</div>
<!--/row-->