---
layout: default
---

{%- set header_style -%}
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url({{ background | url }});
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: 500px;
{%- endset -%}

<section id="intro" class="text-center text-white parallax bg-image shadow-2-strong" style="{{ header_style |  striptags(true) }}">
    <div class="col-md-5 p-lg-5 mx-auto my-0">
        <h1 class="display-1 fw-normal mt-5 pt-5">{{ title }}</h1>
    </div>
</section>

<div class="container py-5 my-5">
    <article itemscope itemtype="https://schema.org/BlogPosting">

        <hgroup>
            <h1 itemprop="headline">{{ title }}</h1>
            <p itemprop="subheading">{{ description }}</p>
        </hgroup>
        <time
        datetime="{{ page.date | htmlDateString }}"
        itemprop="datePublished">{{ page.date | readableDate }}</time>

        &nbsp;•&nbsp;<span title="Estimated Reading Time">{{ content | emojiReadTime }}</span>

        <div class="articleBody px-4 py-5">
            {{ content | safe }}
        </div>
    </article>
</div>