$teal: rgb(67,159,140);
$lime: rgb(139,180,54);
$burgundy: rgb(139,37,83);
$orange: rgb(231,126,59);
$navy: rgb(26,76,128);

$colors: (
    teal: rgb(67,159,140),
    lime: rgb(139,180,54),
    burgundy: rgb(139,37,83),
    orange: rgb(231,126,59),
    navy: rgb(26,76,128)
);
