$teal: rgb(67,159,140);
$lime: rgb(139,180,54);
$burgundy: rgb(139,37,83);
$orange: rgb(231,126,59);
$navy: rgb(26,76,128);

$colors: (
    teal: rgb(67,159,140),
    lime: rgb(139,180,54),
    burgundy: rgb(139,37,83),
    orange: rgb(231,126,59),
    navy: rgb(26,76,128),
    red1: rgb(197,41,45),
    yellow: rgb(250,192,27),
    red2: rgb(166,73,36),
    light-blue: rgb(104,187,227),
    dark-green: rgb(63,113,114),
    light-green: rgb(73,171,73),
    yellow2: rgb(250,192,27),
    red3: rgb(197,41,45)
);
