@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap");
.bg-teal {
  background-color: rgb(67, 159, 140);
}

.text-bg-teal {
  color: white;
  background-color: rgb(67, 159, 140);
}

.text-bg-teal-light {
  background-color: #91d1c3;
}

.border-teal {
  border-color: rgb(67, 159, 140);
}

.bg-lime {
  background-color: rgb(139, 180, 54);
}

.text-bg-lime {
  color: white;
  background-color: rgb(139, 180, 54);
}

.text-bg-lime-light {
  background-color: #c3dd8d;
}

.border-lime {
  border-color: rgb(139, 180, 54);
}

.bg-burgundy {
  background-color: rgb(139, 37, 83);
}

.text-bg-burgundy {
  color: white;
  background-color: rgb(139, 37, 83);
}

.text-bg-burgundy-light {
  background-color: #d45c92;
}

.border-burgundy {
  border-color: rgb(139, 37, 83);
}

.bg-orange {
  background-color: rgb(231, 126, 59);
}

.text-bg-orange {
  color: white;
  background-color: rgb(231, 126, 59);
}

.text-bg-orange-light {
  background-color: #f5c9ad;
}

.border-orange {
  border-color: rgb(231, 126, 59);
}

.bg-navy {
  background-color: rgb(26, 76, 128);
}

.text-bg-navy {
  color: white;
  background-color: rgb(26, 76, 128);
}

.text-bg-navy-light {
  background-color: #418bd8;
}

.border-navy {
  border-color: rgb(26, 76, 128);
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#map {
  height: 500px;
}

.red {
  color: rgb(188, 27, 79);
}

.yellow {
  color: rgb(252, 219, 86);
}

.green {
  color: rgb(0, 189, 97);
}

.bg-red {
  background-color: rgb(188, 27, 79);
}

.bg-yellow {
  background-color: rgb(252, 219, 86);
}

.bg-green {
  background-color: rgb(0, 189, 97);
}

.serif {
  font-family: "DM Serif Display", serif;
}

header span {
  font-family: "DM Serif Display", serif;
}

#partners img {
  max-width: 200px;
}

#intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/images/00007.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  min-height: 500px;
}

.logo {
  letter-spacing: 0.2em;
  font-size: 6.5rem;
}

.highlight {
  width: 50%;
  margin: auto;
}
.highlight i {
  font-size: 6em;
}

.card h3 a {
  color: #fff;
  text-decoration: none;
}
.card h3 a:visted {
  color: #fff;
}
.card h3 a:hover {
  color: #fff;
  text-decoration: underline;
}

.texture-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/tatenda-mapigoti-wg4Yd9iK0ho-unsplash.jpg");
  height: 75vh;
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Mulish", sans-serif;
}

#quotes {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/tatenda-mapigoti-wg4Yd9iK0ho-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#partners figure img {
  max-height: 60px;
  max-width: 60%;
  filter: grayscale(100%);
  transition: all 0.4 ease-in-out;
}
#partners figure img:hover {
  filter: grayscale(0%);
}

.caption {
  position: relative;
  top: 35%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
}

.partner {
  background-image: url("../images/shane-rounce-DNkoNXQti3c-unsplash.jpg");
  background-size: cover;
}

.ubuntu {
  background-image: url("https://ubuntunet.net/app/uploads/2022/11/Africa-2-copy.png");
  background-size: cover;
}

.cenl {
  background-image: url("https://www.cenl.org/wp-content/uploads/2022/11/1_BNF_2016_112736HD_JCBallot-1-scaled-e1669794224877.jpg");
  background-size: cover;
}

.square {
  height: 2em;
  width: 2em;
}

/*# sourceMappingURL=style.css.map */
