---
layout: page 
title: About
background: '/assets/images/tatenda-mapigoti-wg4Yd9iK0ho-unsplash.webp'
eleventyNavigation:
    key: About
---

{% include 'history.njk' %}
{% include 'about-clir.njk' %}
{% include 'interplay-of-ideas.html' %}

{%# Removed #%}
{%# include 'urgency.html' #%}
{%# include 'digitization-as-preservation.html' #%}
{%# include 'faq.html' #%}
{%# include 'theory_of_change.html' #%}
{%# include 'timeline.html'# %}
{%# include 'values.html' #%}
{%# include 'how-it-would-work.html' #%}