---
layout: home
background: /assets/images/00007.png
title: Home
---
<style>

#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("{{ '/assets/images/00007.webp' | url }}");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.africa {
    // https://hypercolor.dev/generator
    background-color: #f3ec78;
    background-image: linear-gradient(to right, rgb(185, 28, 28), rgb(234, 179, 8), rgb(21, 128, 61));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
</style>
<section id="intro" class="text-center text-white parallax bg-image shadow-2-strong pt-5">
    <div class="col-md-8 p-lg-8 mx-auto my-0 pt-5 mt-5">
        <h1 class="display-4 fw-normal mt-5 pt-5">
            Hidden Collections
           <div class="logo">
                
                <span class="red">A</span>
                <span class="yellow">F</span>
                <span class="green">R</span>
                <span class="red">I</span>
                <span class="yellow">C</span>
                <span class="green">A</span>
            </div>
        
            <!--<div class="logo africa">AFRICA</div>-->
        </h1>
        <p class="lead text-light pb-3 pb-md-4 mb-3">
            Fostering Equitable Access to African Cultural Heritage
        </p>
    </div>
</section>

{% include 'video.html' %}
{% include 'what-is-hca.html'%}
{% include 'core-values.njk'%}
{% include 'quotes.html' %}
{% include 'partners.html' %}

{%# Removed #%}
{%# include 'consequences.html' #%}
{%# include 'announcements.njk' #%}
{%# include 'interplay-of-ideas.html' #%}
{%# include 'challenge.html' %}