---
layout: home
background: /assets/images/00007.png
title: Home
js:
    - https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js
    - https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js
    - /assets/js/partner-map.js
css:
    - https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css
    - https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css
    - https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css
    - ttps://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css
---
<style>

#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("{{ '/assets/images/00007.webp' | url }}");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.africa {
    // https://hypercolor.dev/generator
    text-transform: uppercase;
    background-color: #f3ec78;
    background-image: linear-gradient(to right, rgb(190, 29, 81), rgb(255, 222, 89), rgb(0, 192, 97));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
</style>
<section id="intro" class="text-center text-white parallax bg-image shadow-2-strong pt-5">
    <div class="col-md-8 p-lg-8 mx-auto my-0 pt-5 mt-5">
        <h1 class="display-4 fw-normal mt-5 pt-5">
            Hidden Collections<br>

            <span class="logo display-1 africa">AFRICA</span>
            <!--
            <div class="logo">
                
                <span class="red">A</span>
                <span class="yellow">F</span>
                <span class="green">R</span>
                <span class="red">I</span>
                <span class="yellow">C</span>
                <span class="green">A</span>
            </div> -->
        
            <!--<div class="logo africa">AFRICA</div>-->
        </h1>
        <p class="fs-3 text-light pb-3 pb-md-4 mb-3">
            Fostering Equitable Access to African Cultural Heritage
        </p>
    </div>
</section>

{% include 'what-is-hca.html'%}
{% include 'video.html' %}
{% include 'core-values.njk'%}
{% include 'quotes.html' %}
{% include 'partners.html' %}

{%# Removed #%}
{%# include 'consequences.html' #%}
{%# include 'announcements.njk' #%}
{%# include 'interplay-of-ideas.html' #%}
{%# include 'challenge.html' %}