---
layout: page
background: /assets/images/00007.png
title: Pitch
eleventyExcludeFromCollections: true

---

1. Here's what we do
2. Here's why it's hard/hasn't been done before
3. Here's why it's needed/why it matters
4. Here are the people who will need it (and how they're currently solving it)
5. Here's why we're the ones to build it
6. Here's how big the market can be