---
layout: page
title: Posts
background: '/assets/images/karim-manjra-fm9wqDNXyQ0-unsplash.webp'
eleventyNavigation:
    key: Posts
---

{% set posts = collections.posts | reverse %}

<div class="row rol-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% for post in posts %}
        <div class="col">
            <div class="card text-white card-has-bg click-col" style="background-image:url('{{ post.data.background | url }}');">
                <img class="card-img d-none" src="{{ post.data.background | url }}" alt="{{ post.data.title }}">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        {# <small class="card-meta mb-2">Thought Leadership</small> #}
                        <h4 class="card-title mt-0 ">
                            <a class="text-white" href="{{ post.url | url }}">{{ post.data.title }}</a>
                        </h4>
                        <small>
                            <i class="bi bi-calendar"></i>
                            {{ post.date | readableDate }}
                        </small>
                    </div>
                    {# <div class="card-footer">
                        <div class="media">
                            <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png" alt="Generic placeholder image" style="max-width:50px">
                            <div class="media-body">
                                <h6 class="my-0 text-white d-block">Oz Coruhlu</h6>
                                <small>{{ post.data.background }}</small>
                            </div>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    {% endfor %}
</div>