<!-- Modal -->
<div class="modal fade" id="authenticPartnershipsModal" tabindex="-1" aria-labelledby="authenticPartnershipsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="authenticPartnershipsLabel">Authentic Partnerships</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non egestas nibh. Maecenas posuere libero ac velit congue convallis. Nunc molestie efficitur mi, id pretium justo placerat sed. Nam eu eros augue. Nullam nec nisl lobortis, rhoncus justo in, lacinia justo. Vivamus ut ornare arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices volutpat elit et blandit. Morbi ipsum nisi, semper a libero eget, laoreet aliquet leo. Vestibulum sed blandit est, a pellentesque ex. Ut facilisis, velit sit amet semper imperdiet, lorem nisl aliquet turpis, non vestibulum enim ante vitae nulla. Pellentesque mi eros, ultrices quis blandit non, lobortis sed ex. Morbi et consectetur nibh. Praesent et ligula imperdiet, gravida justo ultrices, egestas risus. Aenean sit amet metus eu velit bibendum iaculis.
                </p>
                <p>
                    Phasellus volutpat nisl enim, id tincidunt magna interdum et. Integer condimentum congue ligula, a faucibus nunc accumsan ac. Praesent eget faucibus sapien. Etiam tempus ipsum vitae dolor vehicula tempus. Duis sed viverra neque, quis tempus orci. Phasellus volutpat risus libero, id vestibulum purus imperdiet quis. Nulla at felis tempus lectus condimentum imperdiet. Vestibulum ac ante congue, luctus turpis id, cursus felis. Nulla venenatis nisi sit amet augue tristique consequat volutpat at arcu. Vivamus et leo sed enim tincidunt tincidunt quis a nisl. Praesent a sem lectus. Praesent eget hendrerit turpis. Mauris quis tempor mi.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>