<!-- Modal -->
<div class="modal fade" id="authenticPartnershipsModal" tabindex="-1" aria-labelledby="authenticPartnershipsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="authenticPartnershipsLabel">Authentic Partnerships</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    An inclusive environment relies on sustaining relationships rooted in trust, respect, and shared goals. Healthy partnerships require that each partner's expectations, contributions, and benefits are articulated clearly, acknowledged openly, and revisited regularly.
                </p>
                <p>
                    The <strong>Hidden Collections Africa</strong> program's design and implementation will be led by our African partners and guided by the needs of our African grantees. Applications will be reviewed by a committee comprising a broad range of African scholars and subject experts. Digitized content will be processed locally and be hosted on the African continent. Grant applicants will be encouraged to build networks of mutual support through partnerships, rather than duplicate the efforts of others unnecessarily.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>