<!-- Modal -->
<div class="modal fade" id="communityCenteredAccessModal" tabindex="-1" aria-labelledby="communityCenteredAccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="communityCenteredAccessLabel">Authentic Partnerships</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Every individual, regardless of background or circumstance, should have the opportunity to engage with resources that empower, educate, and elevate them specifically. Different cultures, groups, and individuals will naturally have different needs and constraints with respect to gaining and permitting access. Access strategies and solutions must therefore reflect the diverse needs and aspirations of communities, centering digital inclusion and respect for the local contexts of cultural heritage.
                </p>
                <p>
                    Our highest priority is to ensure that this content remains on the African continent and is owned and administered by African institutions. We encourage applicants to create opportunities to share their collections with their communities, particularly the communities represented in the collections, through a virtual or in person event, an ongoing outreach initiative, or a searchable repository.  
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>