<!-- Modal -->
<div class="modal fade" id="engagementModal" tabindex="-1" aria-labelledby="engagementLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="engagementLabel">Forward Thinking</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Hidden Collections Africa empowers a global community contributing to preserve cultural heritage and address climate change. We make a special effort to attract younger generations as key to the project's durability.              
                </p>
                <p>
                    Through our integrative approach, young people directly participate in safeguarding, sharing, and learning from cultural heritage threatened by climate's ruin. They in turn pass this knowledge to those who follow, creating a living network of discovery, purpose, and focused action: across generations, the abiding inheritance of our essential humanity.                
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>