<!-- Modal -->
<div class="modal fade" id="engagementModal" tabindex="-1" aria-labelledby="engagementLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="engagementLabel">Forward Thinking</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Hidden Collections Africa empowers a global community contributing to preserve cultural heritage and address climate change. We make a special effort to attract younger generations as key to the project's durability.              
                </p>
                <p>
                    Through our innovative approach, we provide a space for young people to connect, learn, and collaborate. By empowering them to take ownership of their cultural heritage, we are cultivating a new generation of global citizens who are passionate about preserving the past and shaping the future.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>