<!-- Modal -->
<div class="modal fade" id="engagementModal" tabindex="-1" aria-labelledby="engagementLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="engagementLabel">Engagement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Hidden Collections Africa empowers a global community of young people to preserve cultural heritage and address climate change. By harnessing the power of technology and collective action, we inspire youth to digitize and share invaluable cultural resources, fostering a deeper understanding of our shared history and a commitment to a sustainable future.                
                </p>
                <p>
                    Through our innovative approach, we provide a space for young people to connect, learn, and collaborate. By empowering them to take ownership of their cultural heritage, we are cultivating a new generation of global citizens who are passionate about preserving the past and shaping the future.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>