<!-- Modal -->
<div class="modal fade" id="openAccessModal" tabindex="-1" aria-labelledby="openAccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="openAccessLabel">Open Access</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Open access is essential to the advancement of knowledge and the dissemination of information to the widest possible audience. It promotes the sharing of ideas and collaboration between researchers, scholars, and practitioners. We will work with partners to develop infrastructure and workflows to not only create deposit and discovery systems for this project, but also encourage faculty and students from across the continent to deposit their work in open access repositories.
                </p>
                <p>
                    <strong>Grantees will be expected to make digitized content fully available online</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>