<!-- Modal -->
<div class="modal fade" id="openAccessModal" tabindex="-1" aria-labelledby="openAccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="openAccessLabel">Open Access</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    In the 21st century, most of the developed world has immediate, global online access to information. This is a powerful tool that can be used to accelerate knowledge dissemination and enrich our collective understanding of the past, present, and future.
                </p>
                <p>
                    In the past, knowledge dissemination was a slow and expensive process as information had to be copied and physically transported from one place to another. This meant that knowledge was often concentrated in the hands of a small elite.
                </p>
                <p>
                    The internet has revolutionized knowledge dissemination. Now, anyone with an internet connection can access and share information with anyone else in the world. 
                </p>
                <p>
                    The immediate and global access to information has had a profound impact on the way we learn and understand the world. We are now able to learn about new topics quickly and easily, and we can connect with experts from all over the world.
                </p>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>