<!-- Modal -->
<div class="modal fade" id="sustainableInfrastructuresModal" tabindex="-1" aria-labelledby="sustainableInfrastructuresLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sustainableInfrastructuresLabel">Authentic Partnerships</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Sustainable infrastructures require that any approach to the development of technologies or systems be rooted in a responsibility to the environment, society, and the global community. We prioritize strategies that can realistically be maintained over time and that minimize negative impacts on limited natural, economic, or socio-cultural resources.
                </p>
                <p>
                    The program will incorporate training, skill building, and capacity investments at each point in the process. The goal is to leave our grantees equipped to continue the work of making African scholarship preserved, discoverable and accessible to scholars in Africa and around the world. The program's technical needs will be overseen by <a target="_blank" href="https://ubuntunet.net/">UbuntuNet</a>, a membership organization of National Research and Education Network (<strong>NREN</strong>) in Southern and Eastern Africa.               
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-burgundy" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>